<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HolidaysDownloadUrl" value="https://obs-lancooznbk-middle.obs.myhuaweicloud.com/%E8%B4%BE%E5%AD%9D%E8%BE%89Test"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>